<p>Hola mundo!</p>

<!-- <section class="login-form-wrap">
  <h1>Login</h1>
  <form class="login-form" action="POST" action="#">
    <label>
      <input id="email" type="email" name="email" [(ngModel)]="user" required placeholder="User" >
    </label>
    <label>
      <input id="password" type="password" name="password" required placeholder="Password" [(ngModel)]="pass">
    </label>
    <input id="logear" type="submit" value="Login" (click)="iniciarSesion()">
  </form>
  <h5><a href="#">Forgot password</a></h5>
</section> -->

<!-- <div class="center-container">
  <div class="item login-title">
      <h1 clas="elegantshadow">Login</h1>
  </div>

  <div class="item">
    <img class="img-login" src="http://www.haipic.com/icon/17167/17167.png"/>
  </div>

  <div class="item">    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" type="text" [(ngModel)]="user"/>
      </mat-form-field>
  </div>

  <div class="item">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="pass"/>
      </mat-form-field>

  </div>
  
  <div class="login-button">
    <button mat-fab color="warn" (click)="iniciarSesion()">Login!</button>
  </div>
  <div>
  </div>
</div> -->