<div class="center-container">
  <div class="item login-title">
      <h1 clas="elegantshadow">Login</h1>
  </div>

  <div class="item">
    <img class="img-login" src="http://www.haipic.com/icon/17167/17167.png"/>
  </div>

  <div class="item">    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" type="text" [(ngModel)]="user"/>
      </mat-form-field>
  </div>

  <div class="item">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="pass"/>
      </mat-form-field>

  </div>
  
  <div class="login-button">
    <button mat-fab color="warn" (click)="iniciarSesion()">Login!</button>
  </div>
  <div>

    

  </div>
</div>
