.center-container {
    background-color: #3f51b5;
    margin: 20px 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #888888;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #888888;
}