<div class="container">
  <form id="signup">
      <div class="header">

          <h3>Sign Up</h3>
          
          <p>You want to fill out this form</p>
          
      </div>
      
      <div class="sep"></div>

      <div class="inputs">
          <input type="text" name="username" [(ngModel)]="username" placeholder="Username" autofocus >

          <input type="password" name="password" [(ngModel)]="password" placeholder="Password" >

          <input type="password" name="cpassword" [(ngModel)]="cpassword" placeholder="Conf. password" >

          <input type="email" name="email" [(ngModel)]="email" placeholder="e-mail"  />

          <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Name" >
          
          <div class="checkboxy">
              <input name="cecky" id="checky" value="1" type="checkbox" [(ngModel)]="terminos" /><label class="terms">I accept the terms of use</label>
          </div>
          
          <button id="submit" (click)="validacion()"> SIGN UP FOR INVITE NOW </button>
          <br>
          <div id="msgInOut" class="item">{{message}}</div>
      
      </div>

  </form>

</div>
<!-- <form class="login-form">
  <div class="container-1">
    <div class="container-2">
      <div><h1>Register</h1></div>
      <div class="item">
        <label>User:</label>
        <label>
          <input id="username" type="text" name="username" [(ngModel)]="username" placeholder="Username" >
        </label>
      </div>
      <div class="item">
        <label>Password:</label>
        <label>
          <input id="password" type="password" name="password" [(ngModel)]="password" placeholder="Password" >
        </label>
      </div>  
      <div class="item">
        <label>Confirm password:</label>
        <label>
          <input id="cpassword" type="password" name="cpassword" [(ngModel)]="cpassword" placeholder="Conf. password" >
        </label>
      </div>
      <div class="item">
        <label>Email:</label>
        <label>
          <input id="email" type="email" name="email" [(ngModel)]="email" placeholder="Email" >
        </label>
      </div>
      <div class="item">
        <label>name:</label>
        <label>
          <input id="nombre" type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" >
        </label>
      </div>
      <div class="item">
        <label><cite>Aceptar terminos y condiciones:</cite></label>
        <label>
          <input id="terminos" type="checkbox" name="terminos" [(ngModel)]="terminos" >
        </label>
      </div>
      <div class="item">
        <label>
            <button (click)="validacion()"> Register </button>
        </label>
      </div>
      <br>
      <br>
      <br>
      <div id="msgInOut" class="item">{{message}}</div>
    </div>
  </div>
</form> -->